<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div id="center">
        <h1>Login</h1>

        {% if messages %}   
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form action="/user_login" method="POST">
            {% csrf_token%}
            <h3>Email <input type="text" name="email" id="email"></h3>
            <h3>Password<input type="text" name="password" id="password"></h3>
            <input type="submit" value="LOGIN" name="login" id="login">
        </form>

        <h3><a href="/show_reg_page">Create an account</a></h3>
    </div>
</body>
</html>